*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Playfair Display';
    overflow-y: scroll;
    background-image: url('Photos/Destinations/goa/login.jpg');
    background-repeat: no-repeat;
    background-size: 180% 180%;
}
a{
    text-decoration: none;
}
.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #efe1dd;
    border-radius: 15px;
    margin-top: 50px; 
    border: 2px solid black;
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family:'Playfair Display';
}
button:hover {
    background-color: #333;
}
p {
    text-align: center;
    margin-top: 20px;
}
p a {
    color: black;
    font-weight: bold;
}
p a:hover {
    text-decoration: underline;
}
 input[type="text"]::placeholder,input[type="password"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder{
    font-family: 'Playfair Display';
    color: black;
    font-size: 16px;
 }

 .topnav {
    overflow: hidden;
    background-color: black;
  }
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 14px;
  }
  .topnav a:hover {
    background-color: #9b9797;
    color: black;
  }